@import "/node_modules/slick-carousel/slick/slick.css";
@import "/node_modules/slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
}

.product-card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
}

.product-card .parallax-image {
  transition: transform 0.5s ease;
}

.product-card:hover .parallax-image {
  transform: translateZ(30px);
}
